body {
    background-color: #f8edeb;
    display: flex;
    justify-content: center;
}

.list-film {
    display: flex;
    width: 1010px;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}
.tab-list {
    display: flex;
    width: 1010px;
    flex-direction: column;
    justify-content: center;
}
.wrapper {
    position: relative;
}

@media (min-width: 430px) and (max-width: 768px) {
   .list-film {
       max-width: 420px;
       align-self: center;
   }
    .tab-list {
        max-width: 420px;
        align-self: center;
    }
}
@media (min-width: 769px) and (max-width: 1009px) {
    .list-film{
        max-width: 790px;
        align-self: center;
    }
    .tab-list {
        max-width: 790px;
        align-self: center;
    }
}
