.search {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 930px;
    align-self: center;
}
@media (min-width: 430px) and (max-width: 768px) {
    .search{
        width: 388px;
    }
}
@media (min-width: 769px) and (max-width: 1009px) {
    .search{
        width: 600px;
    }
}