.search {
    margin-top: 30px;
    margin-bottom: 20px;

    align-self: center;
    width: 388px;
}
@media (min-width: 1010px) {
    .search{
        width: 930px;
    }
}
@media (min-width: 769px) and (max-width: 1009px) {
    .search{
        width: 600px;
    }
}